:root {
  font-family: sans-serif;
  --border-rad: 0.5rem;
  --min-card-alert-clr: #9e1200;
  --max-card-alert-clr: rgb(1, 82, 1);

  --max-card-alert-bg: palegreen;
  --min-card-alert-bg: rgb(255, 112, 122);
}

main {
  position: relative;
  background-color: aliceblue;
  position: relative;
  height: 100vh;
  width: 100%;
  display: grid;
  place-content: center;
}

.minmax-alert {
  position: absolute;
  left: 50%;
  top: -2.5rem;
  transform: translateX(-50%);

  font-size: 0.9rem;
  transition: top 300ms;
}

.display-alert {
  top: 2.5rem;
}

.flashcard-alert {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.2rem;
  border-radius: 1rem;

  padding: 0.5rem 1.5rem;
}

.max-card-alert {
  background-color: var(--max-card-alert-bg);
  color: var(--max-card-alert-clr);
}

.min-card-alert {
  background-color: var(--min-card-alert-bg);
  color: var(--min-card-alert-clr);
}

.minmax-icon {
  width: 1.5rem;
  aspect-ratio: 1;
}

.main-wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 5rem;

  max-width: 900px;
  width: 40rem;
}

.progress-bar,
.cards {
  background-color: transparent;
  border: 0.1rem #333 solid;
  border-radius: var(--border-rad);
  padding: 2px;

  display: flex;

  align-items: center;
}

.progress-bar {
  position: relative;
  height: 1.5rem;
  justify-content: space-between;
}

.progress-indicator {
  position: relative;
  width: 25%;
  height: 100%;
  background-color: #01d801;
  border-radius: var(--border-rad);
}

.progress-indicator::after {
  content: attr(data-percent);
  font-size: 0.6rem;

  position: absolute;
  top: 50%;
  right: -1.8rem;
  transform: translateY(-50%);
}

.count {
  color: #bfbfbf;
  position: absolute;
  right: 5px;
  width: max-content;

  font-size: 0.6rem;
}

.completed {
  color: #01d801;
}

.cards {
  flex-direction: column;
  border-radius: var(--border-rad);

  gap: 0.25rem;
}

.card {
  display: grid;
  width: 100%;
  height: 15rem;
  background-color: #fff7bc;
  font-weight: bold;
  font-size: 1rem;
  border-radius: var(--border-rad);

  place-content: center;
}

.card-text {
  text-align: center;

  padding-inline: 5rem;
}

nav {
  width: 100%;
  border-radius: var(--border-rad);
  background-color: #f5f5f5;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 0.5rem;
  padding-block: 0.2rem;
}

.navigation {
  display: flex;
  align-items: center;
  gap: 0.2rem;
  color: #7a7a7a;
}

img {
  width: 100%;
  height: 100%;
}

.icon {
  height: 0.5rem;
  aspect-ratio: 1;
}

.right-icon {
  transform: rotate(180deg);
}
.reveal {
  font-size: 0.8rem;
  font-weight: 600;
}

.navigation {
  font-size: 0.7rem;
}

.navigation,
.reveal {
  cursor: pointer;
}

.navigation:hover {
  color: black;
}
