section {
  height: 100vh;
  display: grid;

  place-content: center;
}

.card {
  width: 400px;
  display: grid;
  gap: 1rem;
}

textarea {
  width: 100%;
  resize: none;
  overflow: hidden;
  line-height: 1.4;
  height: auto;
  padding: 1.5rem 2rem;
}

.btns {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
}

.default {
  display: grid;
  place-content: center;
}

.add-another {
  display: none;
  text-align: center;
  border-radius: 0.3rem;
  border-width: 1.5px;
}

.btn-text {
  text-align: center;
  padding: 0.5em 1.5em;
}

.create-btn {
  width: 7.5rem;
  font-size: 0.9rem;
  padding-block: 0.7rem;
  padding-inline: 1rem;
}

@media screen and (max-width: 450px) {
  .card {
    width: 350px;
    display: grid;
    gap: 1rem;
  }
}

@media screen and (max-width: 380px) {
  .card {
    width: 280px;
    display: grid;
    gap: 1rem;
  }
}
