body {
  background-color: var(--BG-CLR);
  color: var(--border-clr);
}

.landing-wrapper {
  height: 100vh;
  display: grid;
  place-content: center;
  gap: 1rem;
}

/* @supports (gap: 1rem) {
  .landing-wrapper {
    gap: 1rem;
  }

  .landing-wrapper > * {
    margin: 0;
  }
}

@supports not (gap: 1rem) {
  .landing-wrapper > * {
    margin-bottom: 1rem;
  }

  .landing-wrapper > *:last-child {
    margin-bottom: 0;
  }
} */

.brand {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.name {
  font-size: 3rem;
}

.catchphrase {
  font-size: 0.7rem;

  margin-top: -0.25rem;
}

.button {
  padding-block: 0.85rem;
}
