body {
  background-color: var(--BG-CLR);
  color: var(--border-clr);
}

.landing-wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.brand {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.name {
  font-size: 3rem;
}

.catchphrase {
  font-size: 0.7rem;

  margin-top: -0.25rem;
}
