.set-btn {
  width: 12rem;
  display: grid;
  place-content: center;

  padding: 0.6rem 1.8rem;
}

.reset {
  border-color: var(--reset-base-color);
  background-color: var(--reset-base-color);
}

.reset:hover {
  background-color: var(--reset-btn-hover);
  border-color: var(--reset-btn-hover);
}

.link {
  color: var(--progress-bar-clr);
}

.inactive {
  background-color: var(--reset-inactive);
  border-color: var(--reset-inactive);
  color: rgb(255, 255, 255);
  cursor: default;
}

.inactive:hover {
  background-color: var(--reset-inactive);
  border-color: var(--reset-inactive);
}
