body {
  position: relative;
}

main {
  background-color: var(--BG-CLR);
  height: 98vh;
  width: 100%;
  display: grid;
  place-content: center;
}

.minmax-alert {
  position: absolute;
  left: 50%;
  top: -10rem;
  transform: translateX(-50%);

  font-size: 0.9rem;
  transition: top 300ms;
}

.display-alert {
  top: 2.5rem;
}

.flashcard-alert {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.2rem;
  border-radius: 1rem;

  padding: 0.5rem 1.5rem;
}

.max-card-alert {
  background-color: var(--max-card-alert-bg);
  color: var(--max-card-alert-clr);
}

.min-card-alert {
  background-color: var(--min-card-alert-bg);
  color: var(--min-card-alert-clr);
}

.minmax-icon {
  width: 1.5rem;
  aspect-ratio: 1;
}

.main-wrapper {
  display: grid;
  gap: 0.5rem;
  padding: 5rem;

  max-width: 900px;
  width: 40rem;
}

.progress-bar,
.cards {
  background-color: transparent;
  border: 0.1rem var(--border-clr) solid;
  border-radius: var(--border-rad);
  padding: 2px;

  display: flex;

  align-items: center;
}

.progress-bar {
  position: relative;
  height: 1.5rem;
  justify-content: space-between;
}

.progress-indicator {
  position: relative;
  height: 100%;
  background-color: var(--progress-bar-clr);
  border-radius: var(--border-rad);
}

.progress-indicator::after {
  content: attr(data-percent);
  font-size: 0.6rem;

  position: absolute;
  top: 50%;
  right: -1.8rem;
  transform: translateY(-50%);
}

.count {
  color: var(--count-color);
  position: absolute;
  right: 5px;
  width: max-content;

  font-size: 0.6rem;
}

.completed {
  color: var(--progress-bar-clr);
}

.cards {
  flex-direction: column;
  border-radius: var(--border-rad);

  gap: 0.25rem;
}

.card {
  display: grid;
  width: 100%;
  height: 15rem;
  background-color: var(--card-question-clr);
  font-weight: bold;
  font-size: 1rem;
  border-radius: var(--border-rad);

  place-content: center;
}

.card-text {
  text-align: center;

  padding-inline: 5rem;
}

nav {
  width: 100%;
  border-radius: var(--border-rad);
  background-color: var(--nav-bg-clr);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 0.5rem;
}

.navigation {
  display: grid;
  place-content: center;
  gap: 0.2rem;
  padding-block: 0.2rem;
  color: #7a7a7a;
  font-size: 0.7rem;
}

img {
  width: 100%;
  height: 100%;
}

.icon {
  height: 0.5rem;
  aspect-ratio: 1;
}

.right-icon {
  transform: rotate(180deg);
}

.reveal {
  font-size: 0.8rem;
  font-weight: 600;
}

.navigation,
.reveal {
  cursor: pointer;
}

.navigation:hover {
  color: black;
}

.on-mobile {
  display: none;
}

.link {
  color: var(--min-card-alert-bg);
}

/* 656px */
@media screen and (max-width: 41rem) {
  .main-wrapper {
    padding-inline: 3rem;
    width: 35rem;
  }

  .flashcard-alert {
    font-size: 0.8rem;
  }
}

/* 560px */
@media screen and (max-width: 35rem) {
  .main-wrapper {
    width: 30rem;
  }

  .card-text {
    padding-inline: 1.5rem;
  }

  .card {
    font-size: 0.8rem;
  }

  .flashcard-alert {
    font-size: 0.7rem;
    padding-inline: 0.9rem;
  }
}

/* 496px */
@media screen and (max-width: 31rem) {
  .main-wrapper {
    width: 25rem;
  }

  .flashcard-alert {
    padding-inline: 0.5rem;
  }

  .desktop {
    display: none;
  }

  nav {
    padding-inline: 1rem;
  }

  .icon {
    height: 1.1rem;
  }

  .card-text {
    padding-inline: 1rem;
  }

  .card {
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 440px) {
  .minmax-icon {
    width: 1rem;
  }
}

@media screen and (max-width: 423px) {
  .off-mobile {
    display: none;
  }

  .on-mobile {
    display: initial;
  }
}

/* 400px */
@media screen and (max-width: 25rem) {
  .main-wrapper {
    padding-inline: 2rem;
    padding-block: 2.5rem;
    width: 20rem;
  }
}

/* 352px */
@media screen and (max-width: 22rem) {
  .main-wrapper {
    padding-inline: 1.9rem;
  }

  .card-text {
    padding-inline: 0.8rem;
  }

  .card {
    font-size: 0.65rem;
  }

  .reveal {
    font-size: 0.65rem;
    padding-block: 0.4rem;
  }

  .navigation,
  .icon {
    display: grid;
    place-content: center;
  }

  .navigation {
    padding: 0.2rem;
  }

  /* nav {
    padding-block: 0.4rem;
  } */
}

@media screen and (max-width: 318px) {
  .main-wrapper {
    width: 18rem;
  }

  .card-text {
    padding-inline: 0.7rem;
  }

  .card {
    font-size: 0.65rem;
  }
}
